*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
     background-image: linear-gradient(45deg,#111 30%,#777,#222);
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
}


.con{
    width: 90%;
    max-width: 400px;
  min-height: 200px;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s linear;
}

.con:hover{
    border: 2px solid gold;
}

.display{
    background-color: #777;
    border-radius: 20px;
    box-shadow: -5px -6px 10px #111;


}
.display input{
    width: 100%;
    padding: 15px;
    text-align: right;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
}
.display input::placeholder{
    color: white;
    font-size: 30px;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.btns .row{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btns .row button{
  width: 65px;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: -5px -6px 10px #111;
  color: white;
  font-size: 20px;
  outline: 3px solid rgb(43, 41, 41);
  outline-offset: 5px;
  font-weight: 600;
  cursor:pointer;
}

.btns .row button:hover{
    transition: all 0.1s linear;
    background-color: #333;
}

.btns .row button:active{

    transform: translate(2px,2px);

}

.equal{
    background-color: orange!important;
}
.equal:hover{
    background-color: rgb(200, 143, 37)!important;
}
.ac{
    background-color: white!important;
    color: #000!important;
}
.ac:hover{
    background-color: rgb(243, 229, 229)!important;
    color: #000!important;
}
